In [1]:
from __future__ import print_function
import pandas as pd
import argparse
import torch
import torch.nn as nn
import torch.nn.functional as F
import torch.optim as optim
##from torchvision import datasets, transforms
from torch.optim.lr_scheduler import StepLR
import math
import matplotlib.pyplot as plt
import numpy as np
from sklearn.preprocessing import MinMaxScaler

#### Reading Store level data

In [2]:
store_lvl_df = pd.read_csv('data/sales_forecasting_store_level.csv')

#### Here, Weekly_sales_sum is the target variable that captures the weekly sales of every store.

In [3]:
store_lvl_df.head()

,Weekly_Sales_sum,Store,Date,Temperature,Fuel_Price,CPI,Unemployment,IsHoliday,week_nbr,Size,Type_A,Type_B,Type_C
0,1650399.00,1,2010-02-05,42.31,2.572,211.096358,8.106,False,1,151315,1,0,0
1,1675305.37,1,2010-02-12,38.51,2.548,211.242170,8.106,True,2,151315,1,0,0
2,1644421.11,1,2010-02-19,39.93,2.514,211.289143,8.106,False,3,151315,1,0,0
3,1442911.49,1,2010-02-26,46.63,2.561,211.319643,8.106,False,4,151315,1,0,0
4,1586448.75,1,2010-03-05,46.50,2.625,211.350143,8.106,False,5,151315,1,0,0

#### Creating a periodic week_nbr column to capture week of the year value between 1 & 52. This column can capture the seasonality by holding the week of the year value

In [4]:
a = []
for el in store_lvl_df.week_nbr:
    if el>52 and el<=104:
        a.append(el-52)
    elif el>104:
        a.append(el-104)
    else:
        a.append(el)
week_nbr_periodic = pd.Series(a)
cols = list(store_lvl_df.columns)
cols.append('week_nbr_periodic')
store_lvl_df = pd.concat([store_lvl_df, week_nbr_periodic], axis = 1)
store_lvl_df.columns = cols

In [5]:
### Vary from Weeks 1 to 52 & repeat
print(store_lvl_df.columns)
print(store_lvl_df.week_nbr_periodic.unique())

Index(['Weekly_Sales_sum', 'Store', 'Date', 'Temperature', 'Fuel_Price', 'CPI',
       'Unemployment', 'IsHoliday', 'week_nbr', 'Size', 'Type_A', 'Type_B',
       'Type_C', 'week_nbr_periodic'],
      dtype='object')
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48
 49 50 51 52]

In [6]:
store_lvl_df.head()

,Weekly_Sales_sum,Store,Date,Temperature,Fuel_Price,CPI,Unemployment,IsHoliday,week_nbr,Size,Type_A,Type_B,Type_C,week_nbr_periodic
0,1650399.00,1,2010-02-05,42.31,2.572,211.096358,8.106,False,1,151315,1,0,0,1
1,1675305.37,1,2010-02-12,38.51,2.548,211.242170,8.106,True,2,151315,1,0,0,2
2,1644421.11,1,2010-02-19,39.93,2.514,211.289143,8.106,False,3,151315,1,0,0,3
3,1442911.49,1,2010-02-26,46.63,2.561,211.319643,8.106,False,4,151315,1,0,0,4
4,1586448.75,1,2010-03-05,46.50,2.625,211.350143,8.106,False,5,151315,1,0,0,5

## APPROACH EXPERIMENT 1: Train 45 GRU Models for each of the 45 stores using 5 lagged Moving Window
#### (Treating as Time Series data by using the previous 5 week sales as inputs)
We are going to train a seperate FFNN model for every store by using 5 previous week sales values as input along with other existing input attributes such as Temperature, Fuel_Price, CPI, Unemployment & IsHoliday. We are training a seperate model for each store because the time series sales trend varies from store to store and hence, in order to make accurate forecasts by capturing the unique trend for each store, we are experimenting with this approach. Also, since we are using moving window with lag of 5, where 5 previous output values are provided as input, we will have to train a seperate FFNN model for each store.

### 1. A. Training GRU Model for each store on Train Data using all the input attributes
#### Creating a dictionary of 90 tensor objects (Train & Test objects) for the 45 stores & Dictionary of Dataframes from Visualization purposes
Creating a Tensor Object using the DataLoader function and specifying the batch size to perform mini-batch gradient descent. The algorithm will update weights after each batch. Here the train_loader dataset has the predictor variables and the target variable in it